body {
  margin-right: 5rem;
}

.film {
  color: white;
  font-family: var(--ff-sans);
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  text-align: left;
  padding-left: 1rem;
}

.film__titre {
  font-size: 2rem;
}

.film__img {
  display: flex;
  max-width: 18rem;
  border-radius: 5%;
  padding-bottom: 0.5rem;
}

.film__trailer {
  border-radius: 5%;
  width: 100%;
  height: 400px;
}

.film__content {
  display: flex;
  flex-direction: row; /* Par défaut, le contenu est en ligne */
  gap: 1rem;
  text-align: left;
  justify-content: flex-start;
  padding-top: 5rem;
  column-gap: 5rem;
}

.film__text {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  order: 1; /* Assure que le texte est en premier */
}

.film__item--age {
  color: white;
}

.film__item--year {
  color: var(--color-gray-light);
}

.film__button {
  margin: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  color: var(--color-middleblue);
  width: 30rem;
  border: none;
  font-weight: 600;
}

.film__button :hover {
  background-color: var(--color-gray);
}

.film__apropos {
  display: flex;
  flex-direction: column;
  align-self: center;
  order: 3; /* À propos est toujours en bas sur mobile */
}

.separator {
  border: 0;
  height: 1px;
  background-color: #ccc; /* Choisis la couleur de la ligne */
  margin: 20px 0; /* Ajoute de l'espace avant et après la ligne */
  display: none; /* Par défaut, la ligne est cachée */
}
.film__item--year svg {
  margin-right: 0.5rem; /* Espace entre l'icône et la date */
  vertical-align: middle; /* Alignement vertical avec le texte */
}

@media (max-width: 34rem) {
  .film__content {
    flex-direction: column; /* Empile tout en colonne sur mobile */
  }

  .film__text {
    max-width: 25rem;
  }

  .film__trailer {
    width: 90%;
    height: 10%;
    margin-top: 2rem; /* Ajout d'un espace avant le trailer */
  }

  .film__apropos {
    margin-top: 2rem; /* Ajout d'un espace entre le trailer et la section À propos */
  }

  .film__button {
    width: 20rem;
    align-self: center;
  }

  .separator {
    display: block; /* Afficher la ligne sur mobile */
  }
}

@media (min-width: 1025px) {
  .film__content {
    flex-direction: row; /* En ligne sur desktop */
    gap: 2rem;
  }

  .film__text {
    flex: 1;
  }

  .film__trailer {
    flex: 1;
  }

  .film__apropos {
    margin-top: 2rem;
    grid-column: span 2;
  }
}
