body {
  margin-right: 5rem;
}

.film {
  color: white;
  font-family: var(--ff-sans);
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  text-align: left;
  padding-left: 1rem;
}

.film__titre {
  font-size: 2rem;
}

.film__list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
}

.film__img {
  display: flex;
  max-width: 18rem;
  border-radius: 5%;
  padding-bottom: 0.5rem;
}

.film__trailer {
  border-radius: 5%;
}

.film__content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: left;
  justify-content: flex-start;
  padding-top: 5rem;
  column-gap: 5rem;
}

.film__text {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}

.film__item--age {
  color: var(--color-middleblue);
  border-radius: 2%;
  background-color: white;
  align-items: center;
  text-align: center;
  width: 3rem;
  border-radius: 2rem;
  border: none;
}

.film__item--year {
  color: var(--color-gray-light);
}

.film__button {
  margin: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  color: var(--color-middleblue);
  width: 30rem;
  border: none;
  font-weight: 600;
}

.film__button :hover {
  background-color: var(--color-gray);
}

.film__apropos {
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media (max-width: 34rem) {
  .film__text {
    max-width: 25rem;
  }
  .film__trailer {
    width: 90%;
  }
}
