<div class="film">
  <div class="film__content">
    <div class="film__text">
      <p class="film__item">{{category}}</p>
      <h3 class="film__titre">{{name}}</h3>
      <p class="film__item--year">{{year}}</p>
      <p class="film__description">{{description}}</p>
      <button class="film__button">▶ Regarder</button>
    </div>
    <iframe
      class="film__trailer"
      width="60%"
      height="400"
      src="{{trailer}}"
      title="Trailer du film"
      frameborder="0"
      allow="autoplay; encrypted-media; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>
  <div class="film__apropos">
    <h4 class="film__titre">A propos</h4>
    <p class="film__description--realisateur">Réalisation : {{director}}</p>
    <ul class="film__list">
      <li class="film__item--age">{{min_age}}</li>
    </ul>
  </div>
</div>
