.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.cardsreco {
  font-family: var(--ff-sans);
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  gap: 0;
  transition: transform 0.5s ease;
  scroll-behavior: smooth;
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.cardreco {
  position: relative;
  flex: 0 0 auto;
  width: 80%; /* Diminue légèrement la taille pour laisser de la place à la carte suivante */
  height: 31.25rem;
  margin: 0 1rem; /* Espacement entre les cartes */
  border-radius: 1rem;
  transition: transform 0.5s ease, opacity 0.5s ease, z-index 0.5s ease;
  z-index: 1;
  opacity: 0.7; /* Donne un effet "distant" aux cartes non actives */
}

.cardreco__img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  object-position: center;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  z-index: 10;
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}

.cardsreco::-webkit-scrollbar {
  display: none; /* Cache la barre de défilement */
}

.cardreco__content {
  color: white;
  position: relative;
  bottom: 18rem;
  left: 5rem;
  width: 20rem;
}

.cardreco__titre {
  font-size: 3rem;
}

@media screen and (max-width: 400px) {
  .cardreco__content {
    display: none;
  }
}
