.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.cardsreco {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 0.5rem;
  transition: transform 0.5s ease;
  scroll-behavior: smooth;
}

.cardreco {
  position: relative;
  flex: 0 0 auto;
  width: 80%; /* Diminue légèrement la taille pour laisser de la place à la carte suivante */
  height: 31.25rem;
  margin: 0 1rem; /* Espacement entre les cartes */
  border-radius: 1rem;
  transition: transform 0.5s ease, opacity 0.5s ease, z-index 0.5s ease;
  z-index: 1;
  opacity: 0.7; /* Donne un effet "distant" aux cartes non actives */
}

.cardreco.active {
  z-index: 2; /* La carte active doit être au-dessus */
  opacity: 1; /* Carte active avec opacité pleine */
  transform: scale(1.1); /* Augmente la taille de la carte active */
}

.cardreco__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 1rem;
}

.scroll-btn.left {
  left: 2%;
}

.scroll-btn.right {
  right: 2%;
}

.cardsreco::-webkit-scrollbar {
  display: none; /* Cache la barre de défilement */
}
