.cardreco {
  margin-top: 4rem;
  font-family: var(--ff-sans);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 31.25rem; /* 500px */
  margin-bottom: 2rem;
  cursor: pointer;
  border-radius: 0.75rem; /* 12px */
  overflow: hidden;
}

.cardreco__img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem; /* 12px */
}

.cardreco__content {
  position: absolute; /* Superpose le contenu sur l'image */
  padding: 1.5rem;
  color: white;
  text-align: left;
}

.cardreco__titre {
  font-size: 8rem; /* Taille du texte */
  margin: 0 0 0.5rem 0; /* Espacement avec la description */
}

.cardreco__description {
  bottom: 15rem;
  font-size: 1rem; /* Taille de la description */
  margin: 0 0 1rem 0; /* Espacement avec le bouton */
  width: 20rem;
}

.cardreco__button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border-radius: 1.875rem; /* 30px */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.cardreco__button:hover {
  background-color: black;
  color: white;
}
.cardreco__firsttitre {
  color: white;
  font-family: var(--ff-sans);
  padding-left: 4rem;
  padding-bottom: 2rem;
}
