body {
  background-color: var(--color-blue);
}

.carousel-portrait {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
}

.cards-portrait {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 1rem;
  padding: 0 2rem;
  transition: transform 0.5s ease;
}

.card {
  flex: 0 0 calc((100% - 3rem) / 4); /* 4 cartes visibles avec 1rem de gap entre chaque */
  scroll-snap-align: start;
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease, z-index 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card__img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 8px;
}

.card__favoris {
  position: absolute;
  bottom: 3rem;
  right: 0.2rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: none;
  border: none;
  transition: background-color 0.3s ease;
}

.card__deletefavoris {
  position: absolute;
  bottom: 3.7rem;
  left: 0.2rem;
  background: none;
  border: none;
}

.heart-icon {
  fill: none;
  stroke: var(--color-red);
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.card__favoris:hover .heart-icon {
  fill: var(--color-red);
  stroke: var(--color-red);
}

.trash-icon {
  fill: none;
  stroke: currentColor;
  cursor: pointer;
  transition: stroke 0.3s ease;
}

.trash-icon:hover {
  stroke: var(--color-red);
}

.scroll-btn-portrait {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  z-index: 10;
}

.scroll-btn-portrait.left {
  left: 0.5rem;
}

.scroll-btn-portrait.right {
  right: 0.5rem;
}
