body {
  background-color: var(--color-blue);
}

.carousel-portrait {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
  padding-left: 8rem;
}

.cards-portrait {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 1rem;
  padding: 0 2rem;
  transition: transform 0.5s ease;
  overflow-y: hidden;
}

.cards-portrait::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.card {
  scroll-snap-align: start;
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease, z-index 0.5s ease;
  flex: 0 0 18rem; /* Par défaut : ~4 cartes */
}

@media screen and (max-width: 1024px) {
  .card {
    flex: 0 0 20rem; /* ~3 cartes */
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex: 0 0 22rem; /* ~2 cartes */
  }

  .carousel-portrait {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .card {
    flex: 0 0 100%; /* 1 carte pleine largeur */
  }

  .carousel-portrait {
    padding-left: 0; /* Retirer la marge gauche */
    padding-right: 0; /* Retirer la marge droite */
  }

  .cards-portrait {
    padding: 0; /* Retirer le padding à gauche et à droite */
  }

  .scroll-btn-portrait {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card__favoris {
  position: absolute;
  bottom: 3rem;
  right: 0.2rem;
  padding: 0.5rem;
  border-radius: 50%;
  background: none;
  border: none;
  transition: background-color 0.3s ease;
}

.card__deletefavoris {
  position: absolute;
  bottom: 3.7rem;
  left: 0.2rem;
  background: none;
  border: none;
}

.card__favoris:hover .heart-icon {
  fill: var(--color-red);
  stroke: var(--color-red);
}

.scroll-btn-portrait {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  z-index: 10;
}

.scroll-btn-portrait.left {
  left: 0.5rem;
}

.scroll-btn-portrait.right {
  right: 0.5rem;
}
